.body {
  width: calc(100vw - 64px);
  height: 100vh;
  position: fixed;
  left: 64px;
  top: 0;
  padding: 0 16px;
  box-sizing: border-box;
  z-index: 1;
  overflow-y: auto;
}

.body .clock {
  width: 100%;
  min-height: max-content;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  padding: 16px;
  box-sizing: border-box;
  color: var(--foreground);
  margin: 16px 0;
}

.body .clock::before {
  content: "";
  background-color: #FFFFFF40;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  backdrop-filter: blur(8px);
  z-index: -1;
}



.body .clock h1 {
  margin: 0;
  margin-top: 16px;
  padding: 0;
  color: var(--foreground);
  font-weight: lighter;
  vertical-align: middle;
}



.body .clock div.labels {
  display: inline-block;
  vertical-align: middle;
}

.body .clock div.labels * {
  margin: 0;
  padding: 0;
  color: var(--foreground);
  font-weight: lighter;
  display: inline-block;
  vertical-align: middle;
}

.body .clock div.labels .timezone {
  color: #888888;
}

canvas {
  margin: 0;
  margin-right: 16px;
  padding: 0;
  vertical-align: middle;
}

textarea {
  resize: none;
  width: 100%;
  margin-top: 8px;
  box-sizing: border-box;
  height: max-content;
  max-height: 100%;
  padding: 8px;
  border: none;
  border-radius: 4px;
  background-color: #00000040;
  color: var(--foreground);
}

.deleteclock {
  margin-top: 16px;
  width: 32px;
  height: 32px;
  padding: 0;
  border: none;
  background-color: #FF000080;
  color: var(--foreground);
  border-radius: 16px;
  transition: background-color 0.125s;
}

.deleteclock:focus {
  background-color: #FF0000A0;
}

.deleteclock:hover {
  background-color: #FF0000C0;
}

.deleteclock:active {
  background-color: #FF0000FF;
}