.scrim-over--.open {
  background-color: #0006;
  backdrop-filter: blur(4px);
  pointer-events: auto;
}

.scrim-over-- .dialog {
  display: none;
}

.scrim-over--.open .dialog {
  display: inline-block;
}

.dialog {
  min-width: 320px;
  min-height: 128px;
  background-color: var(--background-light);
  transition: background-color 0.125s;
  color: var(--foreground);
  border-radius: 8px;
  padding: 16px;
  box-sizing: border-box;
  pointer-events: auto;
}

.dialog p {
  margin: 0;
  padding: 0;
  margin-bottom: 4px;
}

.dialog .dlg-top {
  display: block;
  font-weight: bold;
  font-size: 18px;
  margin: 8px 0;
}

.dialog form div {
  text-align: right;
  margin-top: 8px;
  box-sizing: border-box;
}

.dialog form div input[type=submit] {
  margin: 0;
  padding: 8px;
  height: 32px;
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  color: var(--main-color);
  font-weight: bold;
  border-radius: 4px;
  transition: background-color 0.125s, color 0.125s;
}

.dialog form div input:focus {
  background-color: #00000020;
}

.dialog form div input:hover {
  background-color: #00000040;
}

.dialog form div input:active {
  background-color: #00000080;
}

input[type="radio"] {
  opacity: 0;
  width: 0;
  margin: 0;
  padding: 0;
}

input[type="radio"] + label {
  display: inline-block;
  margin: 8px;
  padding: 0;
  width: 96px;
  height: 64px;
  border-radius: 4px;
  box-shadow: 0 0 4px 2px rgba(0,0,0,0.25);
  color: #FFFFFF;
  transition: border 0.25s;
  box-sizing: border-box;
  border: 8px solid transparent;
  background-size: 96px;
  background-repeat: no-repeat;
}

input[type="radio"] + label[for^="bg"] {
  color: var(--foreground);
}

input[type="radio"]:checked + label {
  border: 8px solid #FFF6;
}

input[type="radio"]:focus + label {
  outline: 4px solid white; 
}

.dialog select {
  width: 100%;
  margin: 8px 0;
  box-sizing: border-box;
  height: max-content;
  max-height: 100%;
  padding: 8px;
  border: none;
  border-radius: 4px;
  background-color: #00000040;
  color: var(--foreground);
}